#buttonpanel{
    background-color: aqua;
}

#buttonpanel form button{
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    

}